*{
    box-sizing: border-box; /* while calculating width or height it
    will take into consideration of borders and padding and do accordingly*/
}
.container{
    background-color: white;
    height: 100vh;
}
.box{
    background-color: rgb(119, 192, 255);
    border: 2px solid;
    height: auto;
    padding: 25px;
    width: 50%;
    float: left;
    /* max-width: 25%; if width is 50% also then it will take only 25% if max-width is 25% */
    min-height: 50%;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: orangered;
    /* position: fixed;
    left: 0px; fixed at left end
    bottom: 0px; fixed at bottom */
    /* position: relative; */
    /* top: 25px; pushes to the down of 25px  neg values moves to top
    left: 50px; pushes to the right of  50px neg values move to left */
    /* position: sticky; similar to fixed but the element take some space here */
    /* position: static; if you doesn't wanted to change the position dynamially */
}
#box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* position: absolute; moves relative to the ancestor box1 */
}